@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

* {
    font-family: 'Prompt', sans-serif;
}

@theme {
    --blue-950: #000914;
    --blue-900: #001d3d;
    --blue-800: #003566;
    --yellow-500: #ffc300;
    --yellow-400: #ffd60a;
    --yellow-300: #ffe345;

}

.animate-pulse-slow {
    animation: pulse 6s cubic-bezier(0.4,0,0.6,1) infinite;
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-3000 {
    animation-delay: 3s;
}

.animate-fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}